In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
from glob import glob
import os

*Downloading session chats 1 and 2 from Github*

In [2]:
!curl https://raw.githubusercontent.com/Lawrence-Krukrubo/GADS2020_Cloud_Practice_Project/master/meeting_saved_chat_Jul11.txt -o chat_jul11.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2345  100  2345    0     0   4916      0 --:--:-- --:--:-- --:--:--  4926

In [3]:
os.listdir()

['.ipynb_checkpoints',
 '17may_69_students.csv',
 '4th_session_chat.txt',
 'anscombes-quartet.xlsx',
 'archive.zip',
 'attendance_16thMay.csv',
 'attendance_condensed16thMay.csv',
 'bestofrt.tsv',
 'bestofrt_posters',
 'chat_jul11.txt',
 'cleaning_and_splitting_movie_genres (1).ipynb',
 'ebert_reviews',
 'example-job-posting.jpg',
 'extract_attendance.ipynb',
 'extract_attendance_13thJune.ipynb',
 'features.txt',
 'getting_data.ipynb',
 'jul4.txt',
 'jul4merge.txt',
 'jul4zoom.txt',
 'june20.txt',
 'june27.txt',
 'June_analysis.ipynb',
 'meeting_13th_june.txt',
 'online-job-postings.csv',
 'p1_incomplete.csv',
 'p1_ungraded.csv',
 'p1_unsubs.csv',
 'rt-html.zip',
 'rt_html',
 'session-4356-report-5_15_2022.csv',
 'session-4356-report-5_17_2022.csv',
 'session-4356-report-6_1_2022.csv',
 'session-4356-report-6_21_2022.csv',
 'session-4356-report-6_7_2022.csv',
 'sessions_data.ipynb',
 'students.csv']

Let's merge both text files into one

In [4]:
# files_ = [f for f in glob('[jul4]*') if f.startswith('jul4')]
# files_

In [5]:
# # Python program to
# # demonstrate merging
# # of two files
  
# data = data2 = ""
  
# # Reading data from file1
# with open(files_[0], 'r', encoding='utf8') as fp:
#     data = fp.read()

# # Reading data from file2
# with open(files_[1], 'r', encoding='utf8') as fp:
#     data2 = fp.read()

# # Merging 2 files
# # To add the data of file2
# # from next line
# data += "\n"
# data += data2
  
# with open ('jul4merge.txt', 'w', encoding='utf8') as fp:
#     fp.write(data)

*Before June 12th Revokation...*

In [6]:
df = pd.read_csv('17may_69_students.csv')
df.shape

(69, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Email       69 non-null     object
 1   First Name  69 non-null     object
 2   Last Name   69 non-null     object
dtypes: object(3)
memory usage: 1.7+ KB

*After June 12th Revokation...*

In [8]:
df = pd.read_csv('session-4356-report-6_21_2022.csv').loc[:,['First Name', 'Last Name', 'Email']]
df.shape

(54, 3)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  54 non-null     object
 1   Last Name   54 non-null     object
 2   Email       54 non-null     object
dtypes: object(3)
memory usage: 1.4+ KB

In [10]:
for col in ['First Name', 'Last Name']:
    df[col] = df[col].apply(lambda x: x.lower().replace('_', ' ').replace('-', ' '))

In [11]:
df[['First Name', 'Last Name']].head(3)

  First Name Last Name
0     kelvin     mwaka
1     etuonu     david
2   emmanuel     otiti

In [12]:
all_names = list(df['First Name']) + list(df['Last Name'])

*Read in the Connect Session Chats for the last session*

In [13]:
chats = 'chat_jul11.txt'
with open(chats, 'r') as fyle:
    lines = fyle.readlines()

*Making the read-out texts a dataframe to easily clean all rows...*

In [14]:
def make_df(texts, col='strings'):
    dd = pd.DataFrame(texts, columns=[col])
    return dd

In [15]:
dd = make_df(lines)
dd.head()

                                             strings
0       17:03:00 From  kelvin mwaka  to  Everyone:\n
1                                     \tHello guys\n
2  17:03:05 From  Kayode Adedeji  to  Lawrence Kr...
3                                 \tthanks so much\n
4   17:03:09 From  Nkrumah Dubazana  to  Everyone:\n

Next, we clean the cols, convert each row to a list, explode the list and return a set of unique words

In [16]:
# First, we define a regex pattern for keeping only alphabets

import re
rgex = re.compile('[^a-zA-Z]')

In [17]:
def clean_lists_explode(df, col):
    # first clean all non-alphabetic characters
    df[col] = df[col].apply(lambda x: rgex.sub(' ', x).lower().strip())
    
    # Next split each row to a list
    df[col] = df[col].str.split(' ')
    
    # Next we explode the column of lists
    exploded = df.explode(col)[col]
    
    # next we keep a set of unique values
    exploded = set(exploded)
    
    print('Column Cleaned, Listed, Exploded!')
    
    # Finally, return a list of exploded values
    return list(exploded)

In [18]:
names_df = pd.DataFrame(all_names, columns=['names'])
names_df.head(3)

      names
0    kelvin
1    etuonu
2  emmanuel

*Now, we explode the chats dataframe..*

In [19]:
exploded1 = clean_lists_explode(dd, 'strings')

Column Cleaned, Listed, Exploded!

In [20]:
len(exploded1)

89

*Now, we explode the all names dataframe..*

In [21]:
exploded2 = clean_lists_explode(names_df, 'names')

Column Cleaned, Listed, Exploded!

In [22]:
len(exploded2)

111

Let's now keep only common words in both exploded and all_names...

In [23]:
commons = list(set(exploded1).intersection(set(exploded2)))
print(f'len commons: {len(commons)}')

len commons: 46

In [24]:
def find_present(commons, all_names=all_names, df=df):
    ddf = pd.DataFrame([], columns=['present'])
    
    for name in commons:
        long_name = [i for i in all_names if name in i][0]
        if long_name:
            try:
                q = f'`First Name` == "{long_name}"'
                tmp = df.query(q)[['First Name', 'Last Name']].values
                assert len(tmp) > 0
            except AssertionError:
                q = f'`Last Name` == "{long_name}"'
                tmp = df.query(q)[['First Name', 'Last Name']].values
        
            name_ = ['_'.join(i) for i in tmp][0]
            ddf = ddf.append({'present':name_}, ignore_index=True)
            
    # drop Duplicates
    ddf.drop_duplicates(inplace=True)
    
    # sort names alphabetically
    ddf.sort_values(by='present', inplace=True)
    
    # reset_index
    ddf.index = range(len(ddf))
    
    # replace empty space with underscore
    ddf.present = ddf.present.apply(lambda x: x.replace(' ','_').strip())
    
    return ddf

In [25]:
present = find_present(commons)

In [26]:
print(f'total present: {len(present)}')

total present: 23

In [27]:
present

                    present
0             abdullah_ajao
1         abdulmalik_ismail
2            adedeji_kayode
3        annabella_blankson
4        benjamin_onyenekwe
5   chiebuka_vitalis_ezeizu
6            chimezie_ogbuu
7               cyril_ocloo
8              derick_biney
9     gberbie_derick_tsatsu
10           gerald_aguocha
11             jane_mutende
12             kelvin_mwaka
13            kenneth_mambo
14               mark_okaba
15            moses_bernard
16         motselisi_leketa
17         murhula_bienfait
18        naomi_frank_opigo
19         nkrumah_dubazana
20        nndweleni_sundani
21     oluwakayode_abubakre
22          omotola_bankole