In [3]:
import pandas as pd
pd.set_option('display.max_columns',None)
import numpy as np
import os

In [4]:
att_12th_jul = pd.read_csv('session-4356-report-7_12_2022.csv')
att_12th_jul.head()

,First Name,Last Name,Email,Student ID,Session ID,Nanodegree Key,On-Track Status,Completed Projects,Total Projects,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,P3: Communicate Data Findings,P4: Cover Letter Career Service,P5: Resume Review Career Service,P6: GitHub Profile Career Service,P7: LinkedIn Profile Career Service,# Present,# Absent,# Excused,% Attendance,Last Session Attended,Notes
0,kelvin,mwaka,kelvinmwaka@gmail.com,04072e4e-beb8-11eb-9633-9f64b1b6df97,4356,nd002-alg-t2,Critical,0,7,Passed,Incomplete,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,9,0,0,100,2022-07-11T18:00:00Z,[]
1,Etuonu,David,davidetuonu12@gmail.com,0a27c23c-ac03-11ec-84da-dfd2aca5ac76,4356,nd002-alg-t2,Critical,0,7,Passed,Passed,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,1,8,0,11,2022-05-16T20:00:00Z,[]
2,Emmanuel,Otiti,fammava@gmail.com,10517928559,4356,nd002-alg-t2,Critical,0,7,Passed,Passed,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,6,3,0,67,2022-07-04T18:00:00Z,[]
3,Chimezie,Ogbuu,ogbuchimezie17@gmail.com,10531654392,4356,nd002-alg-t2,Critical,0,7,Passed,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,3,6,0,33,2022-07-11T18:00:00Z,[]
4,mugendi,muthimi,mugendimike80@gmail.com,10915732401,4356,nd002-alg-t2,Critical,0,7,Passed,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,6,3,0,67,2022-07-04T18:00:00Z,[]

In [17]:
len(att_12th_jul)

54

In [18]:
curr = att_12th_jul[['First Name', 'Last Name', 'Email']]

In [19]:
curr.head()

  First Name Last Name                     Email
0     kelvin     mwaka     kelvinmwaka@gmail.com
1     Etuonu     David   davidetuonu12@gmail.com
2   Emmanuel     Otiti         fammava@gmail.com
3   Chimezie     Ogbuu  ogbuchimezie17@gmail.com
4    mugendi   muthimi   mugendimike80@gmail.com

In [20]:
len(curr)

54

In [23]:
for i in ['First Name', 'Last Name']:
    curr[i] = curr[i].str.capitalize()
    
curr.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8752\490688804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr[i] = curr[i].str.capitalize()

  First Name Last Name                     Email
0     Kelvin     Mwaka     kelvinmwaka@gmail.com
1     Etuonu     David   davidetuonu12@gmail.com
2   Emmanuel     Otiti         fammava@gmail.com
3   Chimezie     Ogbuu  ogbuchimezie17@gmail.com
4    Mugendi   Muthimi   mugendimike80@gmail.com

In [24]:
curr.to_csv('12th_jul.csv', index=False)

lets grab the names, email and attendance%, P1 and P2 completion rates

In [6]:
df = att_12th_jul[['First Name', 'Last Name', 'Email', 
                   'P1: Investigate a Dataset', 
                   'P2: Wrangle and Analyze Data',
                   '% Attendance', 'Last Session Attended']]
df.head()

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
0,kelvin,mwaka,kelvinmwaka@gmail.com,Passed,Incomplete,100,2022-07-11T18:00:00Z
1,Etuonu,David,davidetuonu12@gmail.com,Passed,Passed,11,2022-05-16T20:00:00Z
2,Emmanuel,Otiti,fammava@gmail.com,Passed,Passed,67,2022-07-04T18:00:00Z
3,Chimezie,Ogbuu,ogbuchimezie17@gmail.com,Passed,Unsubmitted,33,2022-07-11T18:00:00Z
4,mugendi,muthimi,mugendimike80@gmail.com,Passed,Unsubmitted,67,2022-07-04T18:00:00Z

In [14]:
attendance_15 = df[df['% Attendance']<15]
attendance_1530 = df[(df['% Attendance']>=15) & (df['% Attendance']<30)]
attendance_3045 = df[(df['% Attendance']>=30) & (df['% Attendance']<45)]
attendance_4560 = df[(df['% Attendance']>=45) & (df['% Attendance']<60)]
attendance_6080 = df[(df['% Attendance']>=60) & (df['% Attendance']<80)]
attendance_80plus = df[df['% Attendance']>=80]
print('done!')

done!

In [15]:
print(f'< 15:({len(attendance_15)}) \
\n15 - 30:({len(attendance_1530)}) \
\n30 - 45:({len(attendance_3045)}) \
\n45 - 60:({len(attendance_4560)}) \
\n60 - 80:({len(attendance_6080)}) \
\n>= 80: ({len(attendance_80plus)})')

< 15:(8)
15 - 30:(3)
30 - 45:(6)
45 - 60:(3)
60 - 80:(14)
>= 80: (20)

In [10]:
attendance_15

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
1,Etuonu,David,davidetuonu12@gmail.com,Passed,Passed,11,2022-05-16T20:00:00Z
6,Mark,Silas,talktomarksilas@gmail.com,Unsubmitted,Unsubmitted,11,2022-05-16T20:00:00Z
9,Nkemakolam,Allen,nkemakolamallen@gmail.com,Unsubmitted,Unsubmitted,11,2022-05-16T20:00:00Z
10,GEORGE,MIEGUIM,zeoneone@outlook.fr,Passed,Passed,11,2022-05-16T20:00:00Z
11,Glory,Andrew,andrewglory32@gmail.com,Passed,Incomplete,11,2022-05-16T20:00:00Z
22,Imaobong,Udoh,imaobongud@gmail.com,Incomplete,Unsubmitted,11,2022-05-16T20:00:00Z
39,Omoniyi,Akinpelumi,omoniyiakinpelumi@gmail.com,Unsubmitted,Unsubmitted,11,2022-05-16T20:00:00Z
52,Julius,Murigi,murigijulius1@gmail.com,Passed,Unsubmitted,11,2022-05-16T20:00:00Z

In [11]:
attendance_1530

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
21,Hayford,Atim,hayfordatim5@gmail.com,Incomplete,Unsubmitted,22,2022-05-30T18:00:00Z
48,Joseph Kossi,Dessouassi,josephd191@outlook.com,Passed,Unsubmitted,22,2022-05-30T18:00:00Z
51,Stephanie,Elluh,elluhstephanie@gmail.com,Unsubmitted,Unsubmitted,22,2022-05-30T18:00:00Z

In [12]:
attendance_3045

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
3,Chimezie,Ogbuu,ogbuchimezie17@gmail.com,Passed,Unsubmitted,33,2022-07-11T18:00:00Z
19,Ebimoboere,Claudius,ebimoreclaudius@gmail.com,Unsubmitted,Unsubmitted,33,2022-06-06T18:00:00Z
25,Ajirotutu,Lukmon,lukmonajirotutu@gmail.com,Passed,Unsubmitted,44,2022-06-20T18:00:00Z
29,Sboniso,Mjaja,sgmjaja@gmail.com,Passed,Unsubmitted,44,2022-06-20T18:00:00Z
42,HENRY EBUBECHUKWU,ONYIA,henry.onyia96@gmail.com,Unsubmitted,Unsubmitted,44,2022-06-06T18:00:00Z
45,Akua,Asiedu,asiedudokua@gmail.com,Unsubmitted,Unsubmitted,33,2022-05-30T18:00:00Z

In [13]:
attendance_4560

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
34,courtney,gallant,courtneygallant80@gmail.com,Passed,Unsubmitted,56,2022-06-20T18:00:00Z
50,Samuel,Sofela,sofela.olufemi@gmail.com,Passed,Unsubmitted,56,2022-06-13T18:00:00Z
53,Hubert Ovie,Madise,madisehubertovie@gmail.com,Passed,Passed,56,2022-07-04T18:00:00Z

In [16]:
attendance_6080

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
2,Emmanuel,Otiti,fammava@gmail.com,Passed,Passed,67,2022-07-04T18:00:00Z
4,mugendi,muthimi,mugendimike80@gmail.com,Passed,Unsubmitted,67,2022-07-04T18:00:00Z
7,Timiebi,Agunoweh,tagunoweh@gmail.com,Passed,Passed,67,2022-06-20T18:00:00Z
12,zablon,rioba,zablonrioba@live.com,Passed,Unsubmitted,78,2022-06-27T18:00:00Z
16,emmanuel,bamidele,emmynuel02@gmail.com,Passed,Passed,67,2022-06-27T18:00:00Z
23,Percy,Chukwudi,chukwudipercy@gmail.com,Passed,Unsubmitted,78,2022-07-04T18:00:00Z
26,Chiebuka Vitalis,Ezeizu,vitalismasrinez@gmail.com,Passed,Passed,78,2022-07-11T18:00:00Z
27,Joshua,Nyajuaya,nyajuaya.j.a@gmail.com,Passed,Unsubmitted,67,2022-07-04T18:00:00Z
30,Oluwakayode,Abubakre,spicyabubs@yahoo.com,Incomplete,Passed,78,2022-07-11T18:00:00Z
32,Juliet,Ondisi,julietondisi@gmail.com,Passed,Unsubmitted,67,2022-06-20T18:00:00Z
35,Omotola,Bankole,bankoleomotola95@gmail.com,Ungradeable,Unsubmitted,78,2022-07-11T18:00:00Z
40,Cyril,Ocloo,odelanyo54@gmail.com,Passed,Passed,78,2022-07-11T18:00:00Z
44,Umutoni,Gaelle,gaelleumu17@gmail.com,Passed,Unsubmitted,78,2022-07-04T18:00:00Z
46,Abdullahi,Adedayo,abdullahi.adedayo@gmail.com,Passed,Passed,78,2022-06-27T18:00:00Z

In [42]:
attendance_80plus.sort_values('% Attendance', ascending=False)

,First Name,Last Name,Email,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,% Attendance,Last Session Attended
0,kelvin,mwaka,kelvinmwaka@gmail.com,Passed,Incomplete,100,2022-07-11T18:00:00Z
18,Nndweleni,Sundani,nndwelenis@gmail.com,Passed,Passed,100,2022-07-11T18:00:00Z
47,Gerald,Aguocha,aguochagerald@gmail.com,Passed,Passed,100,2022-07-11T18:00:00Z
41,Adedeji,Kayode,adedejikayode24@gmail.com,Passed,NaN,100,2022-07-11T18:00:00Z
36,Nkrumah,Dubazana,altonkrumah@gmail.com,Passed,Unsubmitted,100,2022-07-11T18:00:00Z
31,Naomi,Frank-Opigo,mimieopigo@gmail.com,Passed,Passed,100,2022-07-11T18:00:00Z
20,Abdulmalik,Ismail,abdulmalikismail1@gmail.com,Passed,Passed,100,2022-07-11T18:00:00Z
28,Annabella,Blankson,missybell1485@yahoo.com,Passed,Unsubmitted,100,2022-07-11T18:00:00Z
17,Motselisi,Leketa,motselisileketa@gmail.com,Passed,Passed,100,2022-07-11T18:00:00Z
13,Abdullah,Ajao,abdullahajao7@gmail.com,Passed,Unsubmitted,100,2022-07-11T18:00:00Z
8,Murhula,Bienfait,murhula.bienfait@strathmore.edu,Passed,Passed,100,2022-07-11T18:00:00Z
49,Moses,Bernard,mosesbernard5@gmail.com,Passed,Unsubmitted,100,2022-07-11T18:00:00Z
24,Kenneth,Mambo,kenmambo16@gmail.com,Passed,Passed,89,2022-07-11T18:00:00Z
5,Mark,Okaba,markokaba99@gmail.com,Passed,Passed,89,2022-07-11T18:00:00Z
15,Derick,Biney,derickbiney766@gmail.com,Passed,Passed,89,2022-07-11T18:00:00Z
33,Gberbie,Derick Tsatsu,gberbiederick@gmail.com,Passed,Unsubmitted,89,2022-07-11T18:00:00Z
14,Jane,Mutende,janemutende@gmail.com,Passed,Unsubmitted,89,2022-07-11T18:00:00Z
37,Fuad,Adebisi,fuddiebiola@gmail.com,Passed,Passed,89,2022-07-04T18:00:00Z
38,Benjamin,Onyenekwe,benjaminony2000@hotmail.com,Passed,Unsubmitted,89,2022-07-11T18:00:00Z
43,Samuel Duah,Boadi,adzoy08@yahoo.com,Passed,Passed,89,2022-07-04T18:00:00Z