In [2]:
import pandas as pd
import numpy as np
import os

In [1]:
!curl https://d17h27t6h515a5.cloudfront.net/topher/2017/September/59ca594d_bestofrt/bestofrt.tsv -o bestofrt.tsv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  3587  100  3587    0     0   7472      0 --:--:-- --:--:-- --:--:--  7457

In [3]:
os.listdir()

['.ipynb_checkpoints',
 '17may_69_students.csv',
 '4th_session_chat.txt',
 'archive.zip',
 'attendance_16thMay.csv',
 'attendance_condensed16thMay.csv',
 'bestofrt.tsv',
 'cleaning_and_splitting_movie_genres (1).ipynb',
 'example-job-posting.jpg',
 'extract_attendance.ipynb',
 'features.txt',
 'getting_data.ipynb',
 'June_analysis.ipynb',
 'online-job-postings.csv',
 'p1_incomplete.csv',
 'p1_ungraded.csv',
 'p1_unsubs.csv',
 'session-4356-report-5_15_2022.csv',
 'session-4356-report-5_17_2022.csv',
 'session-4356-report-6_1_2022.csv',
 'session-4356-report-6_7_2022.csv',
 'sessions_data.ipynb']

In [4]:
top_100 = pd.read_csv('bestofrt.tsv', sep='\t')
top_100.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370