In [1]:
!ls

17may_69_students.csv
attendance_16thMay.csv
attendance_condensed16thMay.csv
session-4356-report-5_15_2022.csv
session-4356-report-5_17_2022.csv
sessions_data.ipynb

In [2]:
import pandas as pd
pd.set_option('max_columns',None)
import numpy as np
import matplotlib.pyplot as plt

*Total students on my mentor dashboard on 15th may...*

In [3]:
df_15may = pd.read_csv('session-4356-report-5_15_2022.csv')
print(f'Total students data shape on 15th May: {df_15may.shape}')
df_15may.head(3)

Total students data shape on 15th May: (54, 22)

,First Name,Last Name,Email,Student ID,Session ID,Nanodegree Key,On-Track Status,Completed Projects,Total Projects,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,P3: Communicate Data Findings,P4: Cover Letter Career Service,P5: Resume Review Career Service,P6: GitHub Profile Career Service,P7: LinkedIn Profile Career Service,# Present,# Absent,# Excused,% Attendance,Last Session Attended,Notes
0,kelvin,mwaka,kelvinmwaka@gmail.com,04072e4e-beb8-11eb-9633-9f64b1b6df97,4356,nd002-alg-t2,On Track,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
1,Etuonu,David,davidetuonu12@gmail.com,0a27c23c-ac03-11ec-84da-dfd2aca5ac76,4356,nd002-alg-t2,On Track,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
2,Eric,Kwabena Preko Addo,addoericjnr@gmail.com,10501584-a6b2-11ec-b18b-2fbd1b5f240d,4356,nd002-alg-t2,On Track,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]

*Total students on Mentor dashboard after meeting on 16th May*

In [4]:
df_16may = pd.read_csv('session-4356-report-5_17_2022.csv')
print(f'Total students data shape on 17th May: {df_16may.shape}')
df_16may.head(3)

Total students data shape on 17th May: (69, 22)

,First Name,Last Name,Email,Student ID,Session ID,Nanodegree Key,On-Track Status,Completed Projects,Total Projects,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,P3: Communicate Data Findings,P4: Cover Letter Career Service,P5: Resume Review Career Service,P6: GitHub Profile Career Service,P7: LinkedIn Profile Career Service,# Present,# Absent,# Excused,% Attendance,Last Session Attended,Notes
0,kelvin,mwaka,kelvinmwaka@gmail.com,04072e4e-beb8-11eb-9633-9f64b1b6df97,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
1,Etuonu,David,davidetuonu12@gmail.com,0a27c23c-ac03-11ec-84da-dfd2aca5ac76,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
2,Eric,Kwabena Preko Addo,addoericjnr@gmail.com,10501584-a6b2-11ec-b18b-2fbd1b5f240d,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]

*Let's find the new students between 15th and 17th may*

In [5]:
# Let's reduce case of all names to use the name column
# Then we can change space to underscore and remove white space

def clean_str_cols(df, col_list):
    for col in col_list:
        df[col] = df[col].apply(lambda x: x.lower().strip().replace(' ','_'))
    print('Cols Cleaned!')

In [ ]:
# # Turn caps on
# for_mail_list['First Name'] = for_mail_list['First Name'].str.capitalize()
# for_mail_list['Last Name'] = for_mail_list['Last Name'].str.capitalize().replace('_',' ')

In [ ]:
# print(f'total students as at 17th may: {len(for_mail_list)}')
# for_mail_list.head(3)

In [ ]:
# for_mail_list.to_csv('17may_69_students.csv', index=False)

Check Attendance...

In [6]:
pd.set_option('max_rows',None)
att16May = pd.read_csv('attendance_condensed16thMay.csv')
att16May.head()

       Name (Original Name) User Email  Total Duration (Minutes) Guest
0         Naomi Frank-Opigo        NaN                        89   Yes
1  AGUOCHA GERALD (AGUOCHA)        NaN                        48   Yes
2                  Leketama        NaN                       150   Yes
3               Femi Sofela        NaN                        81   Yes
4                     Kachi        NaN                        24   Yes

In [7]:
len(att16May)

68

In [8]:
att16May.columns = ['full_name', 'email', 'duration_mins', 'is_guest']

In [9]:
att16May['full_name'] = att16May.full_name.str.lower()

In [10]:
att16May.index = att16May['full_name']

In [11]:
att16May.drop('full_name', axis=1, inplace=True)

In [12]:
att16May.head()

                         email  duration_mins is_guest
full_name
naomi frank-opigo          NaN             89      Yes
aguocha gerald (aguocha)   NaN             48      Yes
leketama                   NaN            150      Yes
femi sofela                NaN             81      Yes
kachi                      NaN             24      Yes

In [13]:
# For first 10 names

def check_attendance(df, arr):
    assert min(df.duration_mins) >= 1
    present, absent = {}, {}
    
    for name in arr:
        if name in df.index:
            present[name] = 'Present'
        else:
            absent[name] = 'Absent'
    return present, absent

In [15]:
df_16may.head(3)

,First Name,Last Name,Email,Student ID,Session ID,Nanodegree Key,On-Track Status,Completed Projects,Total Projects,P1: Investigate a Dataset,P2: Wrangle and Analyze Data,P3: Communicate Data Findings,P4: Cover Letter Career Service,P5: Resume Review Career Service,P6: GitHub Profile Career Service,P7: LinkedIn Profile Career Service,# Present,# Absent,# Excused,% Attendance,Last Session Attended,Notes
0,kelvin,mwaka,kelvinmwaka@gmail.com,04072e4e-beb8-11eb-9633-9f64b1b6df97,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
1,Etuonu,David,davidetuonu12@gmail.com,0a27c23c-ac03-11ec-84da-dfd2aca5ac76,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]
2,Eric,Kwabena Preko Addo,addoericjnr@gmail.com,10501584-a6b2-11ec-b18b-2fbd1b5f240d,4356,nd002-alg-t2,Behind,0,7,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,Unsubmitted,0,0,0,0,NaN,[]

In [16]:
allStudents_16thMay = list(df_16may['First Name']+' '+df_16may['Last Name'])
allStudents_16thMay = [val.lower() for val in allStudents_16thMay]

In [17]:
present, absent = check_attendance(att16May, allStudents_16thMay)

In [18]:
print(f'Out of {len(allStudents_16thMay)}\n{len(present)} were present on 16th May\n{len(absent)} were absent.')

Out of 69
27 were present on 16th May
42 were absent.

In [16]:
present

{'kelvin mwaka': 'Present',
 'mark okaba': 'Present',
 'mpai eliboy': 'Present',
 'zablon rioba': 'Present',
 'abdullah ajao': 'Present',
 'jane mutende': 'Present',
 'nndweleni sundani': 'Present',
 'ebimore claudius': 'Present',
 'abdulmalik ismail': 'Present',
 'hayford atim': 'Present',
 'percy chukwudi': 'Present',
 'kenneth mambo': 'Present',
 'joshua nyajuaya': 'Present',
 'annabella blankson': 'Present',
 'sboniso mjaja': 'Present',
 'naomi frank-opigo': 'Present',
 'juliet ondisi': 'Present',
 'gberbie derick': 'Present',
 'nafs ahmad': 'Present',
 'courtney gallant': 'Present',
 'nkrumah dubazana': 'Present',
 'fuad adebisi': 'Present',
 'cyril ocloo': 'Present',
 'josemaria kahamba': 'Present',
 'stephanie elluh': 'Present',
 'sharon chelangat': 'Present',
 'hubert ovie madise': 'Present'}

In [19]:
absent

{'etuonu david': 'Absent',
 'eric kwabena preko addo': 'Absent',
 'emmanuel otiti': 'Absent',
 'chimezie ogbuu': 'Absent',
 'mugendi muthimi': 'Absent',
 'abioye salami': 'Absent',
 'mark silas': 'Absent',
 'koleayo lukman': 'Absent',
 'timiebi agunoweh': 'Absent',
 'daisy okacha': 'Absent',
 'murhula bienfait': 'Absent',
 'nkemakolam allen': 'Absent',
 'george mieguim': 'Absent',
 'neo magolela': 'Absent',
 'glory andrew': 'Absent',
 'derick biney': 'Absent',
 'emmanuel bamidele': 'Absent',
 'oto-obong effiong': 'Absent',
 'motselisi leketa': 'Absent',
 'dickson simpa okuta': 'Absent',
 'imaobong udoh': 'Absent',
 'ajirotutu lukmon': 'Absent',
 'vitalis masrinez': 'Absent',
 'oluwakayode abubakre': 'Absent',
 'omotola bankole': 'Absent',
 'jeff osundwa': 'Absent',
 'benjamin onyenekwe': 'Absent',
 'omoniyi akinpelumi': 'Absent',
 'cimanuka cinamula': 'Absent',
 'adedeji kayode': 'Absent',
 'henry ebubechukwu onyia': 'Absent',
 'samuel duah boadi': 'Absent',
 'umutoni gaelle': 'Absent',
 'akua asiedu': 'Absent',
 'abdullahi adedayo': 'Absent',
 'gerald aguocha': 'Absent',
 'joseph kossi dessouassi': 'Absent',
 'moses bernard': 'Absent',
 'samuel sofela': 'Absent',
 'julius murigi': 'Absent',
 'waithera mbugua': 'Absent',
 'abdul-samad agbaje': 'Absent'}

In [26]:
list(df_16may['Email'])

['kelvinmwaka@gmail.com',
 'davidetuonu12@gmail.com',
 'addoericjnr@gmail.com',
 'fammava@gmail.com',
 'ogbuchimezie17@gmail.com',
 'mugendimike80@gmail.com',
 'salaqua05@gmail.com',
 'markokaba99@gmail.com',
 'talktomarksilas@gmail.com',
 'lukman.koleayo@gmail.com',
 'tagunoweh@gmail.com',
 'daisyokacha9@gmail.com',
 'murhula.bienfait@strathmore.edu',
 'nkemakolamallen@gmail.com',
 'zeoneone@outlook.fr',
 'mpaieliboy5@gmail.com',
 'neoboledi21@gmail.com',
 'andrewglory32@gmail.com',
 'zablonrioba@live.com',
 'abdullahajao7@gmail.com',
 'janemutende@gmail.com',
 'derickbiney766@gmail.com',
 'emmynuel02@gmail.com',
 'effiongoto98@gmail.com',
 'motselisileketa@gmail.com',
 'nndwelenis@gmail.com',
 'ebimoreclaudius@gmail.com',
 'abdulmalikismail1@gmail.com',
 'dickson.okuta@gmail.com',
 'hayfordatim5@gmail.com',
 'imaobongud@gmail.com',
 'chukwudipercy@gmail.com',
 'kenmambo16@gmail.com',
 'lukmonajirotutu@gmail.com',
 'vitalismasrinez@gmail.com',
 'nyajuaya.j.a@gmail.com',
 'missybell1485@yahoo.com',
 'sgmjaja@gmail.com',
 'spicyabubs@yahoo.com',
 'mimieopigo@gmail.com',
 'julietondisi@gmail.com',
 'gberbiederick@gmail.com',
 'ahmadnafs@gmail.com',
 'courtneygallant80@gmail.com',
 'bankoleomotola95@gmail.com',
 'altonkrumah@gmail.com',
 'mulam@protonmail.com',
 'fuddiebiola@gmail.com',
 'benjaminony2000@hotmail.com',
 'omoniyiakinpelumi@gmail.com',
 'cimanuka.cinamula@strathmore.edu',
 'odelanyo54@gmail.com',
 'adedejikayode24@gmail.com',
 'henry.onyia96@gmail.com',
 'adzoy08@yahoo.com',
 'gaelleumu17@gmail.com',
 'asiedudokua@gmail.com',
 'kahambajm@gmail.com',
 'abdullahi.adedayo@gmail.com',
 'aguochagerald@gmail.com',
 'josephd191@outlook.com',
 'mosesbernard5@gmail.com',
 'sofela.olufemi@gmail.com',
 'elluhstephanie@gmail.com',
 'murigijulius1@gmail.com',
 'mindfulmoran@gmail.com',
 'sharonchela6@gmail.com',
 'abdulsamadagbaje4@gmail.com',
 'madisehubertovie@gmail.com']