# Merging Datasets
Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

Both `join` and `merge` can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.28 Mar 2022

In [1]:
import pandas as pd
 
# Creating the two dataframes
left = pd.DataFrame([['a', 1], ['b', 2]], list('XY'), list('PQ'))
right = pd.DataFrame([['c', 3], ['d', 4]], list('XY'), list('PR'))

In [2]:
left

   P  Q
X  a  1
Y  b  2

In [3]:
right

   P  R
X  c  3
Y  d  4

### join
The join method takes two dataframes and joins them on their indexes (technically, you can pick the column to join on for the left dataframe). If there are overlapping columns, the join will want you to add a suffix to the overlapping column name from the left dataframe. Our two dataframes do have an overlapping column name P.

In [4]:
joined_df = left.join(right, lsuffix='_')
joined_df

  P_  Q  P  R
X  a  1  c  3
Y  b  2  d  4

In [5]:
joined_df2 = left.reset_index()
joined_df2

  index  P  Q
0     X  a  1
1     Y  b  2

In [6]:
joined_df2 = left.reset_index().join(right, on='index', lsuffix='_')
joined_df2

  index P_  Q  P  R
0     X  a  1  c  3
1     Y  b  2  d  4

### merge
At a basic level, merge more or less does the same thing as join. Both methods are used to combine two dataframes together, but merge is more versatile, it requires specifying the columns as a merge key. We can specify the overlapping columns with parameter on, or can separately specify it with left_on and right_on parameters.

In [7]:
merged_df = left.merge(right, on='P', how='outer')
merged_df

   P    Q    R
0  a  1.0  NaN
1  b  2.0  NaN
2  c  NaN  3.0
3  d  NaN  4.0

We can explicitly specify that we are merging on the basis of index with the left_index or right_index parameter.

Example :

In [15]:
merged_df = left.merge(right, left_index=True,
                       right_index=True, suffixes=['_', ''])
merged_df

  P_  Q  P  R
X  a  1  c  3
Y  b  2  d  4

In [16]:
left

   P  Q
X  a  1
Y  b  2

In [17]:
right

   P  R
X  c  3
Y  d  4

In [ ]:
# load datasets
import pandas as pd

# df_08 = pd.read_csv('clean_08.csv')
# df_18 = pd.read_csv('clean_18.csv')

### Create combined dataset

In [ ]:
# rename 2008 columns
df_08.rename(columns=lambda x: x[:10] + "_2008", inplace=True)

In [ ]:
# view to check names
df_08.head()

In [ ]:
# merge datasets
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

In [ ]:
# view to check merge
df_combined.head()

Save the combined dataset

In [ ]:
df_combined.to_csv('combined_dataset.csv', index=False)